<!DOCTYPE html>
<html>
<head>
    <title>Mensajes y Deseos Personales</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var mediaRecorder;
        var chunks = [];

        // Función para reproducir el archivo de audio seleccionado
        function playAudio(filename) {
            var audio = new Audio('static/recordings/' + filename);
            audio.play();
        }

        function startRecording() {
            navigator.mediaDevices.getUserMedia({ audio: true })
                .then(function(stream) {
                    mediaRecorder = new MediaRecorder(stream);
                    mediaRecorder.addEventListener('dataavailable', function(event) {
                        chunks.push(event.data);
                    });
                    mediaRecorder.addEventListener('stop', function() {
                        var audioBlob = new Blob(chunks, { type: 'audio/wav' });

                        var formData = new FormData();
                        formData.append('audio', audioBlob);

                        // Enviar el archivo de audio grabado al servidor
                        $.ajax({
                            url: '/record',
                            method: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function(response) {
                                // Redireccionar al inicio después de la grabación
                                window.location.href = '/';
                            }
                        });
                    });

                    mediaRecorder.start();
                })
                .catch(function(error) {
                    console.error('Error al acceder al micrófono:', error);
                });
        }

        function stopRecording() {
            mediaRecorder.stop();
            chunks = [];
        }
    </script>
</head>
<body>
    <h1>Mensajes y Deseos Personales</h1>

    <h2>Grabar nuevo mensaje</h2>
    <button onclick="startRecording()">Grabar</button>
    <button onclick="stopRecording()">Detener</button>

    <h2>Mensajes Grabados</h2>
    <ul>
        {% for file in files %}
        <li>
            {{ file }}
            <button onclick="playAudio('{{ file }}')">Reproducir</button>
            <a href="/delete/{{ file }}">Borrar</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
